* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav > select {
  position: fixed;
}

#myMap {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 200px;
  object-fit: cover;
}
