* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#myMap {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 100px;
  object-fit: cover;
  object-position: top;
  z-index: 0;
  background: white;
  transition: ease-in-out;
  transition-duration: 2s;
}

#sidebar {
  background-color: cornsilk;
  opacity: 0.8;
  max-width: 50vw;
  text-align: center;
}
#sidebar:nth-child(n) {
  font-size: 0.8em;
}

#viewLatlng {
  cursor: pointer;
}

#currencyCountryBase > h3,
#currencyCountryExchanged > h3 {
  text-align: center;
}

#currencyCountryBase,
#currencySendAmt,
#currencyCountryExchanged,
#currencyReceiveAmt {
  width: 100px;
}

#currencyValue {
  width: 200px;
  height: 1.5em;
}

#result:nth-child(n) {
  margin-bottom: 100px;
}
